Repository bryhearnchi-bot/kgaytripguides: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

fix: include use-sync-external-store in vendor-react chunk to prevent React duplication
  vite.config.ts
Due: none

fix: restore vite.config.ts to main branch version - fixes React duplication
  vite.config.ts
Due: none

fix: generate real PNG icons for PWA manifest
  client/public/images/icons/icon-128x128.png
  client/public/images/icons/icon-144x144.png
  client/public/images/icons/icon-152x152.png
  client/public/images/icons/icon-180x180.png
  client/public/images/icons/icon-192x192.png
  client/public/images/icons/icon-384x384.png
  client/public/images/icons/icon-512x512.png
  client/public/images/icons/icon-72x72.png
  client/public/images/icons/icon-96x96.png
  scripts/generate-pwa-icons.js
Due: none

fix: restore debug log level in development
  server/logging/logger.ts
Due: integration

fix: null handling in InfoTab, route ordering in admin lookup tables, and React bundling
  client/src/components/trip-guide/tabs/InfoTab.tsx
  server/routes/admin-lookup-tables-routes.ts
  vite.config.ts
Due: unittests, integration

fix: improve InfoTab empty state styling and remove unnecessary console warning
  client/src/components/trip-guide/tabs/InfoTab.tsx
  client/src/hooks/useTripData.ts
Due: unittests

fix: prevent SPA fallback from intercepting static asset requests in production
  server/index.ts
Due: integration

fix: add proper cache headers for index.html and 404 for missing assets
  server/index.ts
Due: integration

fix: prevent React duplication errors by improving chunk splitting
  vite.config.ts
Due: none

fix: relax CSP to allow Vite's inline scripts and styles in production
  server/middleware/security.ts
Due: integration

fix: revert to main branch's simpler Vite config and server setup
  server/index.ts
  server/middleware/security.ts
  vite.config.ts
Due: integration

feat: implement Trip Wizard initial pages with comprehensive style guide
  client/src/components/admin/TripWizard/BasicInfoPage.tsx
  client/src/components/admin/TripWizard/BuildMethodPage.tsx
  client/src/components/admin/TripWizard/TRIP-WIZARD-STYLE-GUIDE.md
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/components/ui/calendar.tsx
  client/src/components/ui/command.tsx
  client/src/components/ui/date-picker.tsx
  client/src/components/ui/dialog.tsx
  client/src/components/ui/popover.tsx
  client/src/components/ui/single-drop-down-new.tsx
  client/src/contexts/TripWizardContext.tsx
  docs/trip-wizard.md
  package-lock.json
  package.json
Due: unittests

chore: add documentation, mockups, and admin UI improvements
  DROPDOWN_DATEPICKER_FIX_REPORT.md
  agent.md
  client/src/App.tsx
  client/src/components/admin/AdminFormModal.tsx
  client/src/components/admin/ImageUploadField.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/pages/admin/artists.tsx
  client/src/pages/admin/themes.tsx
  client/src/pages/admin/trips-management.tsx
  client/src/pages/admin/trips.tsx
  client/src/pages/admin/users.tsx
  components/shadcn-studio/combobox/combobox-04.tsx
  docs/POPOVER-CLICK-THROUGH-FIX.md
  docs/POPOVER-FIX-SUMMARY.md
  docs/POPOVER-FIX-TEST-GUIDE.md
  mockups/admin-form-modal-option-a-compact.html
  mockups/admin-form-modal-option-a.html
  mockups/admin-form-modal-option-b.html
  mockups/admin-form-modal-option-c.html
  mockups/admin-form-option-a.html
  mockups/admin-form-option-b.html
  mockups/admin-ship-modal-aurora.html
  mockups/admin-ship-modal-wireframe.html
  mockups/editshipmodal_new.html
  mockups/figma-import/admin-ship-modal-aurora.svg
  mockups/trip-wizard-initial-and-branch.html
  mockups/trip-wizard-step1-2.html
Due: unittests

feat: implement schedule/itinerary day management with timezone-safe handling
  CLAUDE.md
  client/src/components/admin/AdminFormModal.tsx
  client/src/components/admin/AmenitySelector.tsx
  client/src/components/admin/MultiSelectWithCreate.tsx
  client/src/components/admin/TripWizard/BasicInfoPage.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/admin/TripWizard/ResortDetailsPage.tsx
  client/src/components/admin/TripWizard/ResortSchedulePage.tsx
  client/src/components/admin/TripWizard/ResortVenuesAmenitiesPage.tsx
  client/src/components/admin/TripWizard/ShipDetailsPage.tsx
  client/src/components/admin/TripWizard/ShipVenuesAmenitiesPage.tsx
  client/src/components/admin/TripWizard/TRIP-WIZARD-STYLE-GUIDE.md
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/components/admin/VenueSelector.tsx
  client/src/components/ui/command.tsx
  client/src/components/ui/date-picker.tsx
  client/src/components/ui/ocean-input.tsx
  client/src/components/ui/ocean-textarea.tsx
  client/src/components/ui/time-picker.tsx
  client/src/components/ui/tip.tsx
  client/src/contexts/TripWizardContext.tsx
  docs/trip-wizard.md
Due: unittests

feat: complete Trip Wizard with draft management and enhanced UI
  client/src/components/admin/AmenitySelector.tsx
  client/src/components/admin/EnhancedTripsTable.tsx
  client/src/components/admin/LocationSelector.tsx
  client/src/components/admin/ResortSelector.tsx
  client/src/components/admin/ShipSelector.tsx
  client/src/components/admin/StatusBadge.tsx
  client/src/components/admin/TripWizard/CompletionPage.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/admin/TripWizard/ResortDetailsPage.tsx
  client/src/components/admin/TripWizard/ShipDetailsPage.tsx
  client/src/components/admin/TripWizard/TRIP-WIZARD-STYLE-GUIDE.md
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/components/admin/TripWizard/modals/EditBasicInfoModal.tsx
  client/src/components/admin/TripWizard/modals/EditCruiseItineraryModal.tsx
  client/src/components/admin/TripWizard/modals/EditResortDetailsModal.tsx
  client/src/components/admin/TripWizard/modals/EditResortScheduleModal.tsx
  client/src/components/admin/TripWizard/modals/EditShipDetailsModal.tsx
  client/src/components/admin/TripWizard/modals/EditVenuesAmenitiesModal.tsx
  client/src/components/admin/VenueSelector.tsx
  client/src/contexts/TripWizardContext.tsx
  client/src/pages/admin/trips-management.tsx
  docs/trip-wizard.md
  server/routes.ts
  server/routes/locations.ts
  server/routes/trip-wizard.ts
  server/routes/trips.ts
  server/schemas/trip-wizard-schemas.ts
  server/storage.ts
  supabase/migrations/20251002000000_add_draft_status_and_wizard_state.sql
  supabase/migrations/20251003000000_make_ship_name_nullable.sql
  supabase/migrations/20251004000000_relax_constraints_for_draft_trips.sql
  supabase/migrations/20251004210000_fix_itinerary_location_name.sql
  supabase/migrations/20251004220000_add_itinerary_unique_constraint.sql
Due: unittests, integration

docs: update trip-wizard.md with completed UI/UX enhancements
  docs/trip-wizard.md
Due: none

feat: database cleanup and enhanced error messaging
  client/src/components/admin/TripWizard/CompletionPage.tsx
  client/src/components/admin/TripWizard/TripWizard.tsx
  docs/trip-wizard.md
  supabase/migrations/20251005000000_remove_unused_trips_columns.sql
Due: unittests

fix: auto-refresh trips list after saving draft
  client/src/components/admin/TripWizard/TripWizard.tsx
Due: unittests

fix: prevent page freeze after saving draft
  client/src/components/admin/TripWizard/TripWizard.tsx
Due: unittests

fix: prevent UI freeze by closing modal before refetch
  client/src/components/admin/TripWizard/TripWizard.tsx
Due: unittests

fix: close modal immediately to prevent UI freeze
  client/src/components/admin/TripWizard/TripWizard.tsx
Due: unittests

fix: resolve UI freeze after saving draft in Trip Wizard
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/pages/admin/trips-management.tsx
Due: unittests

fix: remove blocking query invalidation from save draft
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/pages/admin/trips-management.tsx
Due: unittests

fix: use requestAnimationFrame to prevent UI freeze
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/pages/admin/trips-management.tsx
Due: unittests

fix: blur active element before closing modal to prevent aria-hidden conflict
  client/src/components/admin/TripWizard/TripWizard.tsx
Due: unittests

fix: resolve UI freeze issue when opening Trip Wizard from dropdown menu
  client/src/pages/admin/trips-management.tsx
Due: unittests

docs: update trip-wizard.md with completed bug fixes and improvements
  docs/trip-wizard.md
Due: none

feat: add dynamic trip guide tabs and resort schedule support
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
  client/src/hooks/useTripData.ts
  server/storage.ts
Due: unittests, integration

chore: add remaining admin and wizard enhancements
  client/src/components/admin/EnhancedTripsTable.tsx
  client/src/components/admin/StatusBadge.tsx
  client/src/components/admin/TripWizard/CompletionPage.tsx
  client/src/pages/admin/trips-management.tsx
  client/src/pages/landing.tsx
  server/routes/trip-wizard.ts
  server/routes/trips.ts
  server/schemas/trip-wizard-schemas.ts
Due: unittests, integration

docs: document trip guide enhancements in trip-wizard.md
  docs/trip-wizard.md
Due: none

fix: set default sort order to status for trips table
  client/src/components/admin/EnhancedTripsTable.tsx
Due: unittests

docs: update trip-wizard.md with latest UI improvements and deployment info
  docs/trip-wizard.md
Due: none

fix: resolve resort trip validation error and improve Edit Trip Modal
  ITINERARY_DEBUG_INVESTIGATION.md
  apply-trip-tables-migration.cjs
  check-resort-schema.cjs
  client/src/components/admin/EditTripModal/EditTripModal.tsx
  client/src/components/admin/EventManagement.tsx
  client/src/components/admin/EventsAndEntertainmentTab.tsx
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/components/admin/TripWizard/BasicInfoPage.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/admin/TripWizard/ResortDetailsPage.tsx
  client/src/components/admin/TripWizard/ResortPreview.tsx
  client/src/components/admin/TripWizard/ResortSchedulePage.tsx
  client/src/components/admin/TripWizard/ShipDetailsPage.tsx
  client/src/components/admin/TripWizard/ShipPreview.tsx
  client/src/contexts/TripWizardContext.tsx
  client/src/pages/admin/trips-management.tsx
  docs/EditTripModal.md
  docs/edit-trip-modal.md
  server/routes/trip-wizard.ts
  server/routes/trips.ts
  server/schemas/trip-wizard-schemas.ts
  server/storage.ts
  supabase/migrations/20251005163000_add_venue_id_to_events.sql
  supabase/migrations/20251006000000_create_event_types_lookup.sql
  supabase/migrations/20251006100000_create_trip_amenities_venues.sql
  test-amenities-venues.cjs
  test-api-itinerary.cjs
  test-itinerary.cjs
  test-ship-amenities.cjs
Due: unittests, integration

fix: resolve trip preview/view errors and improve Edit Trip Modal
  client/src/components/admin/EditTripModal/EditTripModal.tsx
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/components/admin/TripWizard/CompletionPage.tsx
  client/src/components/admin/TripWizard/EventsTabPage.tsx
  client/src/components/admin/TripWizard/ResortDetailsPage.tsx
  client/src/components/admin/TripWizard/ResortPreview.tsx
  client/src/components/admin/TripWizard/ShipDetailsPage.tsx
  client/src/components/admin/TripWizard/ShipPreview.tsx
  client/src/components/admin/TripWizard/TalentTabPage.tsx
  client/src/contexts/TripWizardContext.tsx
  server/routes/locations.ts
  server/routes/trip-wizard.ts
  server/routes/trips.ts
  server/schemas/trip-wizard-schemas.ts
  server/storage.ts
  server/utils/ApiError.ts
Due: unittests, integration

feat: enable venue creation during ship/resort creation with pending mode
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/components/admin/VenueManagementModal.tsx
Due: unittests

fix: resolve ship creation 400 error and complete GitHub Issue #2
  client/src/components/admin/CruiseLineSelector.tsx
  client/src/components/admin/ResortCompanySelector.tsx
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/contexts/TripWizardContext.tsx
  client/src/pages/admin/lookup-tables.tsx
  client/src/pages/admin/resorts.tsx
  client/src/pages/admin/ships.tsx
  docs/API_REQUEST_STANDARDS.md
  docs/DatabaseAuth.md
  server/routes/admin-lookup-tables-routes.ts
  server/routes/admin/events.ts
  server/routes/admin/party-themes.ts
  server/routes/locations.ts
  supabase/migrations/20251009120000_create_cruise_lines_lookup.sql
  supabase/migrations/20251009120001_create_resort_companies_lookup.sql
  supabase/migrations/20251009120002_add_cruise_line_id_to_ships.sql
  supabase/migrations/20251009120003_add_resort_company_id_to_resorts.sql
Due: unittests, integration

Path conditions:
  unittests: any of: tests/unit/, client/src/
  integration: any of: tests/integration/, server/
  e2e: any of: tests/e2e/
