Repository bryhearnchi-bot/kgaytripguides: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

feat: Add Greek Isles, Turkey & Dalmatian Coast Cruise (July 2026)
  docs/Add Athens to Venice Cruise 2026.md
  scripts/import-athens-to-venice-2026.ts
Due: none

fix: Add location image fallback for itinerary items in hero carousel
  server/storage.ts
Due: integration

feat: Add Venice to Barcelona Cruise 26 (July 2026)
  client/src/pages/admin/trips-management.tsx
  docs/Add Athens to Venice Cruise.md
  docs/Add Venice to Barcelona Cruise.md
  docs/CRUISE_IMPORT_GUIDE.md
  docs/CRUISE_IMPORT_GUIDE_V2.md
  scripts/fix-venice-barcelona-locations.ts
  scripts/import-venice-to-barcelona-cruise-26.ts
  server/routes/trips.ts
Due: unittests, integration

feat: Add map image upload to Trip Wizard and fix Overview tab layout
  client/src/components/admin/EditTripModal/EditTripModal.tsx
  client/src/components/admin/TripWizard/BasicInfoPage.tsx
  client/src/components/trip-guide/tabs/OverviewTab.tsx
  client/src/contexts/TripWizardContext.tsx
  client/src/hooks/useImageUpload.ts
  server/image-utils.ts
  server/routes/trip-wizard.ts
  server/schemas/trip-wizard-schemas.ts
Due: unittests, integration

feat: Optimize Overview tab layout for mobile devices
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

feat: Add Overview tab templates and map image upload functionality
  client/src/App.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/OverviewTab_Collapsible.tsx
  client/src/components/trip-guide/tabs/OverviewTab_CompactStats.tsx
  client/src/components/trip-guide/tabs/OverviewTab_Modular.tsx
  client/src/components/trip-guide/tabs/OverviewTab_Tabbed.tsx
  client/src/components/trip-guide/tabs/OverviewTab_Timeline.tsx
  client/src/data/data-service.ts
  client/src/hooks/useTripData.ts
  client/src/pages/overview-templates-preview.tsx
  docs/OVERVIEW_TAB_TEMPLATES.md
  scripts/upload-map-image.js
  server/storage.ts
  shared/supabase-types.ts
Due: unittests, integration

fix: Restore desktop/iPad layout for Overview tab while maintaining mobile order
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

fix: Tighten desktop layout - sections only use natural height
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

fix: Optimize Overview tab layout for desktop and mobile
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

feat: Add PWA auto-update system and enhance Overview tab layout
  client/src/App.tsx
  client/src/components/AppFooter.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/OverviewTab.tsx
  client/src/context/UpdateContext.tsx
  client/src/hooks/useServiceWorker.ts
Due: unittests

feat: Add About KGAY Travel button and modal
  client/src/components/AboutKGayModal.tsx
  client/src/components/navigation-banner.tsx
  scripts/upload-kgay-image.ts
Due: unittests

feat: Add embarkation times to Overview tab About section
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

feat: Fix party themes counting and enhance Overview tab
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/OverviewTab.tsx
  client/src/hooks/useTripData.ts
  server/storage.ts
Due: unittests, integration

chore: Add verification scripts and screenshot files
  capture-screenshots.mjs
  landing-modal.png
  trip-guide-footer.png
  verify-modal.js
  verify-trip-modal.js
Due: none

feat: Configure iOS app for mobile development (Phase 1)
  client/src/hooks/useTripData.ts
  client/src/lib/api-client.ts
  client/src/lib/api-config.ts
  client/src/lib/fetch-wrapper.ts
  client/src/main.tsx
  docs/capacitor-guide.md
  docs/mobile-app-implementation-plan.md
  ios/App/App.xcworkspace/contents.xcworkspacedata
  ios/App/App/Info.plist
  server/index.ts
  server/middleware/security.ts
Due: unittests, integration

feat: Complete Phase 1 - Mobile app setup with iOS and Android
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/xml/network_security_config.xml
  capacitor.config.ts
  client/public/sw.js
Due: none

feat: Complete Phase 2 - Native Plugin Integration
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  capacitor.config.ts
  client/src/App.tsx
  client/src/hooks/useCapacitor.ts
  client/src/hooks/useHaptics.ts
  client/src/hooks/useShare.ts
  client/src/hooks/useSupabaseAuth.ts
  client/src/lib/capacitor.ts
  client/src/lib/supabase.ts
  client/src/main.tsx
  ios/App/Podfile
  package-lock.json
  package.json
Due: unittests

feat: Add share button and haptic feedback to UI
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide.tsx
  ios/App/App.xcodeproj/project.pbxproj
Due: unittests

fix: Resolve iOS black bar issue during scroll
  capacitor.config.ts
  client/src/index.css
Due: unittests

fix: Remove bottom black bar covering iOS home indicator
  client/src/index.css
Due: unittests

docs: Mark Phase 2 as complete in implementation plan
  docs/mobile-app-implementation-plan.md
Due: none

feat: Complete Phase 3 - Native UI Optimization
  client/src/index.css
  client/src/main.tsx
  docs/mobile-app-implementation-plan.md
Due: unittests

fix: Enable safe area insets in native apps
  capacitor.config.ts
Due: none

fix: Properly implement safe area insets for native apps
  capacitor.config.ts
  client/src/components/navigation-banner.tsx
  client/src/index.css
  client/src/lib/capacitor.ts
Due: unittests

feat: Add platform-specific hero padding for native apps
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/pages/landing.tsx
Due: unittests

feat: Move share button to tab bar and optimize UI
  client/src/components/FeaturedTripCarousel.tsx
  client/src/components/admin/AdminFormModal.tsx
  client/src/components/admin/MultiSelectWithCreate.tsx
  client/src/components/admin/TripWizard/EventFormModal.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/TalentTabNew.tsx
  client/src/pages/landing.tsx
  docs/CRUISE_GUIDE_IMPORT_PROTOCOL.md
  pdf/Asia25-Cruise-Vacation-Guide.pdf
  pdf/HW25-Cruise-vacation-guide-FINAL.pdf
Due: unittests

fix: Fix modal centering issue caused by hardware acceleration CSS
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/OverviewTab.tsx
  client/src/components/ui/alert-dialog.tsx
  client/src/components/ui/dialog.tsx
  client/src/hooks/useTripData.ts
  client/src/index.css
  server/storage.ts
Due: unittests, integration

feat: Add BETA badge and fix modal centering issues
  client/src/components/AboutKGayModal.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

feat: Add updates system for trip announcements and news
  client/src/components/admin/EditTripModal/EditTripModal.tsx
  client/src/components/admin/SimpleSelector.tsx
  client/src/components/admin/TripWizard/UpdateFormModal.tsx
  client/src/components/admin/TripWizard/UpdatesTabPage.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/OverviewTab.tsx
  client/src/contexts/TripWizardContext.tsx
  client/src/pages/landing.tsx
  client/src/types/trip-info.ts
  server/routes.ts
  server/routes/updates.ts
  supabase/migrations/20251107000000_create_updates_table.sql
  supabase/migrations/20251107000001_enable_rls_on_updates.sql
Due: unittests, integration

feat: Optimize mobile Overview tab layout with collapsible ship info
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

feat: Fix Overview tab desktop layout with two-column wrapper approach
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

feat: Enhance global notifications with grouping and accessibility fixes
  client/src/components/GlobalNotificationBell.tsx
  client/src/components/GlobalNotificationsPanel.tsx
  client/src/components/NavigationDrawer.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  client/src/lib/supabase.ts
  client/src/main.tsx
  server/middleware/security.ts
  server/routes/updates.ts
Due: unittests, integration

feat: Implement hybrid notification read status tracking
  client/src/components/GlobalNotificationsPanel.tsx
  client/src/components/auth/AuthModal.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/pages/auth/login.tsx
  mockups/navigation-header-mockup-1-vertical-menu.md
  mockups/navigation-header-mockup-2-pill-menu.md
  mockups/navigation-header-mockup-3-side-drawer.md
  supabase/migrations/20251108000002_create_user_notification_reads.sql
Due: unittests

fix: Add GRANT permissions for user_notification_reads table
  supabase/migrations/20251108000002_create_user_notification_reads.sql
Due: none

fix: Remove explicit user_id filter in RLS queries
  client/src/components/GlobalNotificationsPanel.tsx
  client/src/components/navigation-banner.tsx
Due: unittests

feat: Update navigation bar with frosted glass design and improved spacing
  client/src/App.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/pages/landing.tsx
Due: unittests

feat: Implement comprehensive frosted glass UI with safe area handling and redesigned navigation
  client/src/App.tsx
  client/src/components/BottomSafeArea.tsx
  client/src/components/GlobalNotificationsPanel.tsx
  client/src/components/NavigationDrawer.tsx
  client/src/components/navigation-banner.tsx
Due: unittests

feat: Update status bar theming to Oxford Blue and remove bottom safe area frosted glass
  client/index.html
  client/src/components/BottomSafeArea.tsx
  client/src/lib/capacitor.ts
Due: unittests

Path conditions:
  unittests: any of: tests/unit/, client/src/
  integration: any of: tests/integration/, server/
  e2e: any of: tests/e2e/
