Repository bryhearnchi-bot/kgaytripguides: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

Further cleanup of test scripts and configurations
  Plans/DATABASE_MIGRATION_CRUISES_TO_TRIPS.md
  admin-mockup.html
  new Admin UI /cruise-admin-complete-mockup.html
  new Admin UI /cruise-admin-design-doc.md
  playwright-admin.config.ts
  playwright-invitations.config.ts
  playwright-profile-test.config.ts
  playwright-test.config.ts
  scripts/generate-pwa-icons.js
  scripts/lighthouserc.js
  start-server.sh
Due: none

Restore mockups folder with HTML mockup files
  mockups/ai-assistant.html
  mockups/event-wizard.html
  mockups/loading-states.html
Due: none

Update CLAUDE.md with clean structure and organization rules
  CLAUDE.md
Due: none

Add concise agent orchestration rules to CLAUDE.md
  CLAUDE.md
Due: none

Update CLAUDE.md to include mockups folder in rules
  CLAUDE.md
Due: none

Restore important authentication and database CRUD documentation
  docs/AUTHENTICATION_FIX_SUMMARY.md
  docs/DATABASE_CRUD_AUTH_FIXES.md
Due: none

Restore critical security and RLS documentation
  docs/RLS_DOCUMENTATION.md
  docs/SECURITY_AUDIT_REPORT.md
Due: none

Tests: add admin UI login Playwright test; keep MCP read-only; confirm admin CRUD works with ENFORCE_SUPER_ADMIN=1
  test/admin-ui.spec.ts
Due: none

Security: require super_admin for user delete; document ENFORCE_SUPER_ADMIN; add CI Playwright admin smoke tests
  .github/workflows/ci.yml
  docs/SECURITY_AUDIT_REPORT.md
  server/routes/admin-users-routes.ts
Due: integration

Admin users: allow super_admin role in create/update; enforce only super_admin can assign or modify super_admin accounts; require super_admin for delete
  server/routes/admin-users-routes.ts
Due: integration

Admin UI: show 'Super Admin' in role dropdown only for super_admins; display label as 'Super Admin' while using value 'super_admin'
  client/src/pages/admin/users.tsx
Due: unittests

Admin UI: role dropdown shows 'Super Admin' only when current user profile.role is super_admin; label mapping reflects 'Super Admin'
  client/src/pages/admin/users.tsx
Due: unittests

Auth: use SUPABASE_URL/SUPABASE_ANON_KEY fallback for server-side token verification to avoid DNS issues when VITE_* is not available
  server/auth.ts
Due: integration

Add super admin migration, test results, and utility scripts
  WARP.md
  playwright-report/index.html
  scripts/promote-superadmin.mjs
  supabase/migrations/20250922113000_allow_super_admin_role.sql
  test-results/.last-run.json
Due: none

RBAC: allow admins/content managers to delete content (locations, ships, cruises, trips, party themes). Keep user deletes super_admin-only
  server/routes/locations.ts
  server/routes/party-themes.ts
  server/routes/trips.ts
Due: integration

UI: reflect content delete permissions for admins and content managers; add tooltips and disable buttons when unauthorized
  client/src/components/admin/LocationManagement.tsx
  client/src/pages/admin/ships.tsx
  client/src/pages/admin/themes.tsx
  client/src/pages/admin/trips.tsx
Due: unittests

CI: set DATABASE_URL and Supabase env for Playwright webServer start in Actions
  .github/workflows/ci.yml
Due: none

CI: remove duplicate top-level keys; keep single job with DATABASE_URL and Supabase env
  .github/workflows/ci.yml
Due: none

Serve PWA files with correct MIME types: manifest.json and sw.js; prevent HTML fallback for these routes
  server/vite.ts
Due: integration

Railway: ensure NODE_ENV=production at start to serve dist/public and expose sw.js/manifest.json
  nixpacks.toml
Due: none

Railway: fix PWA file serving by using tsx directly with NODE_ENV=production instead of building separate server bundle
  nixpacks.toml
  package.json
Due: none

Itinerary/Events: use tripId (not cruiseId); remove legacy port_name usage; select explicit columns to match current schema
  server/storage.ts
  server/storage/OptimizedStorage.ts
Due: integration

Fix schema: update itinerary table column names to match database
  shared/schema.ts
Due: none

Update nixpacks.toml start command for production
  nixpacks.toml
Due: none

Fix PWA files not being served in production
  vite.config.ts
Due: none

Fix PWA publicDir path to use client/public
  vite.config.ts
Due: none

Fix PWA files serving in production by moving static middleware earlier
  server/index.ts
Due: integration

Fix PWA file serving: use fileURLToPath for proper path resolution in production
  server/index.ts
Due: integration

Fix PWA file paths: use process.cwd() for tsx runtime compatibility
  server/index.ts
Due: integration

Add debug endpoint to troubleshoot PWA file paths in production
  server/index.ts
Due: integration

Fix PWA files not being served in production - add explicit copy script
  package.json
  scripts/copy-pwa-files.js
  server/index.ts
Due: integration

Fallback to client/public for PWA files if missing in dist
  server/index.ts
Due: integration

Add comprehensive debug endpoint and detailed error logging for PWA files
  server/index.ts
Due: integration

Add PWA files to git - fix .gitignore blocking client/public files
  client/public/manifest.json
  client/public/sw.js
Due: none

Add PWA icon files and screenshots - fix manifest icon loading errors
  client/public/images/icons/icon-128x128.png
  client/public/images/icons/icon-144x144.png
  client/public/images/icons/icon-152x152.png
  client/public/images/icons/icon-180x180.png
  client/public/images/icons/icon-192x192.png
  client/public/images/icons/icon-384x384.png
  client/public/images/icons/icon-512x512.png
  client/public/images/icons/icon-72x72.png
  client/public/images/icons/icon-96x96.png
  client/public/images/screenshots/desktop-screenshot.png
  client/public/images/screenshots/mobile-screenshot.png
Due: none

Replace broken Unsplash image with inline SVG wave pattern
  .gitignore
  client/public/test-images.html
  client/src/index.css
Due: unittests

Bump service worker cache versions and skip Unsplash URLs
  client/public/sw.js
Due: none

Fix database error: use schema directly in warmUpCaches to avoid undefined reference
  server/storage.ts
Due: integration

Path conditions:
  unittests: any of: tests/unit/, client/src/
  integration: any of: tests/integration/, server/
  e2e: any of: tests/e2e/
