Repository bryhearnchi-bot/kgaytripguides: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

codecov.yml:

# Codecov Configuration
# Comprehensive coverage configuration for quality gates

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        paths:
          - "client/src"
          - "server"
          - "shared"
        if_ci_failed: error

    patch:
      default:
        target: 85%
        threshold: 2%
        base: auto
        if_ci_failed: error

  precision: 2
  round: down
  range: "70...100"

  ignore:
    - "tests/"
    - "**/*.test.*"
    - "**/*.spec.*"
    - "coverage/"
    - "dist/"
    - "node_modules/"
    - "archived/"
    - "modelcontextprotocol/"
    - "**/*.d.ts"
    - "vitest.config.ts"
    - "playwright.config.ts"
    - "jest.config.js"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

flags:
  unittests:
    paths:
      - tests/unit/
      - client/src/
    carryforward: true

  integration:
    paths:
      - tests/integration/
      - server/
    carryforward: true

  e2e:
    paths:
      - tests/e2e/
    carryforward: false

Disable cache warm-up temporarily to fix production errors
  server/storage.ts
Due: integration

Fix critical database error: use schema tables directly to avoid undefined reference errors
  server/routes/public.ts
  server/storage.ts
Due: integration

Fix remaining database errors: use schema namespace in all route files
  server/routes/public.ts
  server/routes/trips.ts
Due: integration

Fix ALL remaining schema import issues - comprehensive fix for production errors
  server/routes/admin-users-routes.ts
  server/routes/invitation-routes.ts
  server/routes/locations.ts
  server/routes/media.ts
  server/ships-storage.ts
  server/storage/LocationStorage.ts
  server/storage/PartyThemeStorage.ts
  server/storage/PortStorage.ts
Due: integration

fix: replace remaining destructured schema table references in seed files and OptimizedStorage
  fix-storage-refs.sh
  server/OptimizedStorage.ts
  server/production-seed.ts
  server/seed.ts
  server/storage.ts
Due: integration

fix(server): remove remaining named table exports and use schema namespace
  server/routes/media.ts
  server/storage.ts
Due: integration

fix(routes): add locations alias to avoid undefined reference in stats query
  server/routes/locations.ts
Due: integration

fix: add schema table aliases in root OptimizedStorage to prevent undefined variables causing select builder errors
  server/OptimizedStorage.ts
Due: integration

fix(storage): add comprehensive schema table aliases in storage/OptimizedStorage to eliminate undefined references causing select builder failures
  server/storage/OptimizedStorage.ts
Due: integration

chore(debug): wrap db.select with undefined-field guard when DEBUG_SQL=true
  server/storage.ts
Due: integration

fix(debug): replace arrow with function in db.select wrapper to restore arguments
  server/storage.ts
Due: integration

fix: replace undefined table vars in SQL templates with schema references
  server/OptimizedStorage.ts
Due: integration

fix: use locationImageUrl field in itinerary select map
  server/storage/OptimizedStorage.ts
Due: integration

chore(build): enable source maps for client bundle to debug frontend error
  vite.config.ts
Due: none

fix(trip-guide): guard stop.port checks with optional chaining to prevent runtime error
  client/src/components/trip-guide.tsx
Due: unittests

docs: organize migration documentation in dedicated folder
  MIGRATION_CONTEXT.md
  SCHEMA_MIGRATION_TRACKER.md
  WORKING_ENDPOINTS.md
  docs/migration/MIGRATION_CONTEXT.md
  docs/migration/README.md
  docs/migration/SCHEMA_MIGRATION_TRACKER.md
  docs/migration/WORKING_ENDPOINTS.md
Due: none

Phase 1 Complete: Core Storage Layer Migration
  MIGRATION_CONTEXT.md
  SCHEMA_MIGRATION_TRACKER.md
  WORKING_ENDPOINTS.md
  docs/migration/MIGRATION_CONTEXT.md
  docs/migration/SCHEMA_MIGRATION_TRACKER.md
  server/storage.ts
  server/storage/LocationStorage.ts
  server/storage/OptimizedStorage.ts
  server/storage/PortStorage.ts
  shared/schema.ts
Due: integration

Phase 2: Type system alignment complete
  docs/migration/SCHEMA_MIGRATION_TRACKER.md
  server/auth.ts
  server/storage.ts
  shared/api-types-generated.ts
  shared/api-types.ts
Due: integration

fix: resolve critical TypeScript errors before Phase 3
  docs/migration/README.md
  server/ships-storage.ts
  server/storage.ts
Due: integration

Phase 4: Frontend Migration Complete
  client/src/App.tsx
  client/src/components/admin/MobilePortManagement.tsx
  client/src/components/admin/PortManagement.tsx
  client/src/components/admin/PortManagementSafe.tsx
  client/src/data/cruise-data.ts
  client/src/data/mock-data.ts
  client/src/data/trip-data.ts
  client/src/hooks/useTripData.ts
  client/src/pages/admin/trip-detail.tsx
  client/src/pages/admin/trip-wizard.tsx
  docs/migration/NON_MIGRATION_ERRORS.md
  docs/migration/SCHEMA_MIGRATION_TRACKER.md
  package-lock.json
  package.json
  server/add-test-trips.ts
  server/openapi/index.ts
  server/openapi/paths/events.ts
  server/openapi/paths/trips.ts
  server/openapi/spec.ts
  server/routes.ts
  server/routes/locations.ts
  server/routes/trips.ts
  tsconfig.json
Due: unittests, integration

HOTFIX: Remove duplicate ProfileStorage class declaration
  server/storage.ts
Due: integration

fix: defer db.select monkey-patching until after db initialization
  server/storage.ts
Due: integration

fix(cache-bust): add version comment to force production rebuild
  client/src/hooks/useTripData.ts
Due: unittests

docs: add Phase 6 - Comprehensive Code Review & CMS Validation
  docs/migration/SCHEMA_MIGRATION_TRACKER.md
Due: none

chore: force production redeploy to sync itinerary updates
  .deployignore
  docs/migration/SCHEMA_MIGRATION_TRACKER.md
Due: none

backup: save current state before TypeScript error fixes
  client/src/components/__tests__/trip-guide.test.tsx
  client/src/components/admin/ArtistDatabaseManager.tsx
  client/src/components/admin/EventManagement.tsx
  client/src/components/admin/ItineraryTab.tsx
  client/src/components/admin/LocationManagement.tsx
  server/OptimizedStorage.ts
  server/storage.ts
  server/storage/OptimizedQueries.ts
  server/storage/PartyThemeStorage.ts
  server/utils/field-transformers.ts
  vite.config.ts
Due: unittests, integration

fix: resolve critical TypeScript errors - database schema mismatches, Drizzle ORM issues, and Location type conflicts
  client/src/components/__tests__/trip-guide.test.tsx
  client/src/components/admin/ArtistDatabaseManager.tsx
  client/src/components/admin/ItineraryTab.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/types/api.ts
  server/storage/OptimizedQueries.ts
  server/storage/PartyThemeStorage.ts
Due: unittests, integration

fix: resolve major TypeScript component and validation errors
  client/src/components/__tests__/trip-guide.test.tsx
  client/src/components/admin/BulkOperations.tsx
  client/src/components/admin/EventManagement.tsx
  client/src/components/admin/Forms/EnhancedTripForm.tsx
  client/src/components/admin/Forms/FormValidator.tsx
  client/src/components/admin/LocationManagement.tsx
  test-results/junit.xml
  test-results/results.json
Due: unittests

feat: update UI components and layout improvements
  .playwright-mcp/current-state.png
  client/src/components/admin/AdminLayout.tsx
  client/src/components/admin/NewAdminLayout.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/trip-guide.tsx
  client/src/components/ui/kokonut-profile-dropdown.tsx
  client/src/components/ui/profile-dropdown.tsx
  client/src/pages/landing.tsx
  components.json
  components/kokonutui/gemini.tsx
  components/kokonutui/profile-dropdown.tsx
  package-lock.json
  package.json
Due: unittests

fix: resolve Vite build configuration causing empty chunks
  vite.config.ts
Due: none

feat: initialize UI redesign branch
  UI-REDESIGN.md
Due: none

config: add Railway configuration for UI redesign branch
  railway-ui-redesign.json
Due: none

feat: implement standardized hero component for consistent UI
  .playwright-mcp/page-2025-09-24T02-54-40-579Z.png
  client/src/components/StandardizedHero.tsx
  client/src/components/trip-guide-redesigned.tsx
  client/src/components/trip-guide.tsx
  client/src/pages/landing-redesigned.tsx
Due: unittests

feat: implement UI redesign with standardized components and proper spacing
  client/src/components/StandardizedContentLayout.tsx
  client/src/components/StandardizedTabContainer.tsx
  client/src/components/UniversalHero.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/trip-guide.tsx
  client/src/pages/landing-redesigned.tsx
  client/src/pages/landing.tsx
  docs/development-setup.md
  package.json
  scripts/start-dev.sh
  scripts/start-redesign-dev.sh
Due: unittests

feat: finalize UI redesign with consistent hero and content spacing
  client/src/components/StandardizedContentLayout.tsx
  client/src/components/UniversalHero.tsx
  client/src/components/trip-guide.tsx
  docs/page_structure.md
Due: unittests

feat: implement comprehensive admin redesign with modern components
  AGENTS.md
  client/src/components/admin/AdminLayout.tsx
  client/src/components/admin/AdminTable.tsx
  client/src/components/admin/CategoryChip.tsx
  client/src/components/admin/FilterBar.tsx
  client/src/components/admin/PageStats.tsx
  client/src/components/admin/StatusBadge.tsx
  client/src/components/admin/__tests__/AdminLayout.test.tsx
  client/src/pages/admin/artists.tsx
  client/src/pages/admin/trips-management.tsx
  client/src/pages/admin/trips.tsx
  docs/admin_redesign.md
  mockups/admin-table-elevated.html
  mockups/admin-table-minimal.html
  mockups/landing-cruise-control-dashboard.html
  mockups/landing-spotlight-carousel.html
  mockups/landing-wave-stack.html
  mockups/trip-guide-atlantis.html
  mockups/trip-guide-deck-planner.html
  mockups/trip-guide-nightlife-navigator.html
  mockups/trip-guide-portside-story.html
  server/index.ts
  server/storage.ts
Due: unittests, integration

feat: complete admin pages redesign with unified ocean theme
  client/src/components/admin/LocationManagement.tsx
  client/src/pages/admin/settings.tsx
  client/src/pages/admin/themes.tsx
  client/src/pages/admin/users.tsx
Due: unittests

feat: finalize admin redesign with StatusBadge and Ships page updates
  client/src/components/admin/StatusBadge.tsx
  client/src/pages/admin/ships.tsx
Due: unittests

feat: complete admin modal unification and eliminate users tab flickering
  CLAUDE.md
  client/src/App.tsx
  client/src/components/admin/AdminDashboardContent.tsx
  client/src/components/admin/AdminFormModal.tsx
  client/src/components/admin/AdminLayout.tsx
  client/src/components/admin/AdminSkeleton.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/components/admin/ResponsiveAdminTable.tsx
  client/src/components/admin/__tests__/AdminLayout.test.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/ui/button.tsx
  client/src/components/ui/dialog.tsx
  client/src/components/ui/input.tsx
  client/src/components/ui/textarea.tsx
  client/src/hooks/use-admin-prefetch.ts
  client/src/hooks/use-admin-users-cache.ts
  client/src/hooks/use-mobile-responsive.ts
  client/src/pages/admin/artists.tsx
  client/src/pages/admin/info-sections.tsx
  client/src/pages/admin/locations.tsx
  client/src/pages/admin/profile.tsx
  client/src/pages/admin/settings.tsx
  client/src/pages/admin/ships.tsx
  client/src/pages/admin/themes.tsx
  client/src/pages/admin/trip-info-sections.tsx
  client/src/pages/admin/trips-management.tsx
  client/src/pages/admin/users.tsx
  docs/admin-navigation-optimization.md
  scripts/optimize-admin-pages.js
  server/routes.ts
  server/routes/admin-users-routes.ts
  server/routes/admin/admin-users-routes-optimized.ts
  server/routes/trip-info-sections.ts
  server/storage/TripInfoSectionStorage.ts
  test-results/junit.xml
  test-results/results.json
  tests/utils/test-setup.ts
Due: unittests, integration
