Repository bryhearnchi-bot/kgaytripguides: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

codecov.yml:

# Codecov Configuration
# Comprehensive coverage configuration for quality gates

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        paths:
          - "client/src"
          - "server"
          - "shared"
        if_ci_failed: error

    patch:
      default:
        target: 85%
        threshold: 2%
        base: auto
        if_ci_failed: error

  precision: 2
  round: down
  range: "70...100"

  ignore:
    - "tests/"
    - "**/*.test.*"
    - "**/*.spec.*"
    - "coverage/"
    - "dist/"
    - "node_modules/"
    - "archived/"
    - "modelcontextprotocol/"
    - "**/*.d.ts"
    - "vitest.config.ts"
    - "playwright.config.ts"
    - "jest.config.js"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

flags:
  unittests:
    paths:
      - tests/unit/
      - client/src/
    carryforward: true

  integration:
    paths:
      - tests/integration/
      - server/
    carryforward: true

  e2e:
    paths:
      - tests/e2e/
    carryforward: false

chore: remove test scripts and debug files from root directory
  SELECT day, location_name, arrival_time, departure_time, all_aboard_time FROM itinerary WHERE trip_id = (SELECT id FROM trips WHERE slug = 'greek-isles-2025') AND location_name LIKE '%Istanbul%' ORDER BY day;
  apply-trip-tables-migration.cjs
  check-resort-schema.cjs
  pdf/DS25-Cruise-Vacation-Guide-final (1).pdf
  test-amenities-venues.cjs
  test-api-itinerary.cjs
  test-itinerary.cjs
  test-ship-amenities.cjs
Due: none

fix: update branding and favicon for proper social sharing
  CLAUDE.md
  client/index.html
  client/public/images/icons/dragstars-128x128.png
  client/public/images/icons/dragstars-144x144.png
  client/public/images/icons/dragstars-152x152.png
  client/public/images/icons/dragstars-180x180.png
  client/public/images/icons/dragstars-192x192.png
  client/public/images/icons/dragstars-384x384.png
  client/public/images/icons/dragstars-512x512.png
  client/public/images/icons/dragstars-72x72.png
  client/public/images/icons/dragstars-96x96.png
  client/public/images/icons/favicon-16x16.png
  client/public/images/icons/favicon-32x32.png
  client/public/images/icons/icon-144x144.png
  client/public/images/icons/icon-152x152.png
  client/public/images/icons/icon-180x180.png
  client/public/images/icons/icon-192x192.png
  client/public/images/icons/icon-512x512.png
  client/public/manifest.json
  client/src/components/navigation-banner.tsx
  client/src/hooks/useHomeMetadata.ts
  client/src/hooks/useTripMetadata.ts
  client/src/pages/home.tsx
  server/email-templates/invitation.html
  server/email-templates/invitation.txt
  server/openapi/index.ts
  server/openapi/spec.ts
  server/routes/pwa.ts
  server/services/email-service.ts
  shared/api-types-generated.ts
  shared/api-types.ts
Due: unittests, integration

fix: ensure all trips use KGay logo for PWA icons
  server/routes/pwa.ts
Due: integration

feat: display all-aboard time on embarkation days in itinerary tab
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
Due: unittests

fix: correct landing page date calculations and status badges
  client/src/components/FeaturedTripCarousel.tsx
  client/src/pages/landing.tsx
Due: unittests

fix: use tripDuration variable instead of undefined duration
  client/src/pages/landing.tsx
Due: unittests

feat: add Hong Kong cruise location images to hero carousel
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
Due: unittests

fix: implement server-side meta tag injection for iOS PWA sharing
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/smoothui/ui/JobListingComponent.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/info-sections/InfoSectionCard.tsx
  client/src/components/trip-guide/shared/PartyCard.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  client/src/hooks/useTripMetadata.ts
  server/vite.ts
Due: unittests, integration

feat: add iOS PWA support and install button in navigation
  client/src/components/AddToHomeScreen.tsx
  client/src/components/navigation-banner.tsx
  client/src/hooks/useTripMetadata.ts
  server/vite.ts
Due: unittests, integration

fix: show tomorrow's events for active cruises in events schedule
  client/src/components/trip-guide/hooks/useScheduledDaily.ts
Due: unittests

fix: use local dates instead of UTC to prevent timezone shifting
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/hooks/useScheduledDaily.ts
Due: unittests

feat: Add Google Analytics integration
  client/index.html
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/hooks/useAnalytics.ts
  client/src/lib/analytics.ts
Due: unittests

fix: resolve trip info tab data display and XSS vulnerability
  client/src/components/trip-guide/info-sections/InfoSectionCard.tsx
Due: unittests

feat: Add party themes display and improve featured carousel layout
  client/src/components/FeaturedTripCarousel.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  server/routes/trips.ts
Due: unittests, integration

feat: Add Halloween cruise talent and complete trip guide data
  client/src/components/trip-guide.tsx
  docs/halloween-trip-guide-plan.md
Due: unittests

fix: Use absolute URLs for Open Graph meta tags in social sharing
  .env.example
  client/index.html
  pdf/HW25-Cruise-vacation-guide-FINAL.pdf
  scripts/upload-halloween-talent-images.ts
  scripts/upload-remaining-talent-images.ts
  server/vite.ts
Due: integration

feat: Add unified SearchableDropdown and FAQ search functionality
  client/src/components/admin/TripWizard/EventFormModal.tsx
  client/src/components/admin/TripWizard/EventsTabPage.tsx
  client/src/components/admin/TripWizard/PartyThemeSelector.tsx
  client/src/components/trip-guide/shared/EventCard.tsx
  client/src/components/trip-guide/tabs/FAQTab.tsx
  client/src/components/ui/SearchableDropdown.tsx
Due: unittests

fix: Remove duplicate OG meta tags to prevent composite images in social sharing
  server/vite.ts
Due: integration

fix: Use serveStatic in production to enable meta tag injection
  server/index.ts
Due: integration

feat: Add trip type suffix to social sharing titles
  server/vite.ts
Due: integration

feat: Add New Year's Tahiti Cruise with hero carousel images
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  docs/Add Tahiti Cruise.md
  scripts/import-tahiti-cruise.ts
Due: unittests

docs: Add comprehensive cruise import guide
  docs/CRUISE_IMPORT_GUIDE.md
Due: none

feat: Add Tropical Americas Cruise (Jan 2026)
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  docs/Add Tropical Americas Cruise.md
  scripts/import-tropical-americas.ts
Due: unittests

docs: Add Phase 6 (Git Deployment) to cruise import guide
  docs/CRUISE_IMPORT_GUIDE.md
Due: none

feat: Add dynamic image priority logic for itinerary and hero carousel
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide.tsx
  client/src/hooks/useTripData.ts
  server/routes/trips.ts
Due: unittests, integration

feat: Display country for non-US ports in itinerary
  client/src/components/TimeFormatToggle.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
  client/src/components/ui/kokonut-profile-dropdown.tsx
  client/src/hooks/useTripData.ts
  docs/CRUISE_IMPORT_GUIDE.md
Due: unittests

feat: Show days away countdown for all upcoming trips
  client/src/pages/landing.tsx
Due: unittests

feat: Add Symphony Caribbean Cruise (February 2026)
  docs/Add Symphony Caribbean Cruise.md
  scripts/import-symphony-caribbean.ts
Due: none

feat: Add automated location image upload script
  scripts/upload-location-images.ts
Due: none

feat: Add display name field to locations
  client/src/components/__tests__/trip-guide.test.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/components/admin/LocationSelector.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/admin/TripWizard/modals/EditCruiseItineraryModal.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide.tsx
  client/src/hooks/useTripData.ts
  client/src/pages/admin/locations.tsx
  server/routes/locations.ts
  server/routes/trips.ts
  server/storage.ts
  supabase/migrations/20251023000000_add_display_name_to_locations.sql
Due: unittests, integration

feat: Enhance iOS Add to Home Screen dialog with visual improvements
  client/src/components/AddToHomeScreen.tsx
Due: unittests

fix: Match Add to Home Screen button styling to time format toggle
  client/src/components/AddToHomeScreen.tsx
Due: unittests

fix: Load saved time format preference from localStorage on mount
  client/src/contexts/TimeFormatContext.tsx
Due: unittests

feat: Fix time format toggle and add HW25 event schedule corrections
  FIX-SUMMARY.md
  client/src/components/TimeFormatToggle.tsx
  client/src/components/trip-guide/ItineraryCard.tsx
  client/src/components/trip-guide/shared/EventCard.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
  fix-hw25-events.sql
Due: unittests

feat: Add Brilliant LA to Mexico Cruise (April 2026)
  docs/Add LA to Mexico Cruise.md
  scripts/import-la-mexico-cruise.ts
Due: none

fix: Add attractions and LGBT venues to separate tables for LA to Mexico cruise
  scripts/import-la-mexico-cruise.ts
Due: none

Add Athens to Venice cruise import script and documentation
  docs/Add Athens to Venice Cruise.md
  docs/CRUISE_IMPORT_GUIDE.md
  pdf/HW25-Cruise-vacation-guide-FINAL.pdf
  scripts/import-athens-venice-2026.ts
Due: none
