Repository bryhearnchi-bot/kgaytripguides: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

codecov.yml:

# Codecov Configuration
# Comprehensive coverage configuration for quality gates

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        paths:
          - "client/src"
          - "server"
          - "shared"
        if_ci_failed: error

    patch:
      default:
        target: 85%
        threshold: 2%
        base: auto
        if_ci_failed: error

  precision: 2
  round: down
  range: "70...100"

  ignore:
    - "tests/"
    - "**/*.test.*"
    - "**/*.spec.*"
    - "coverage/"
    - "dist/"
    - "node_modules/"
    - "archived/"
    - "modelcontextprotocol/"
    - "**/*.d.ts"
    - "vitest.config.ts"
    - "playwright.config.ts"
    - "jest.config.js"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

flags:
  unittests:
    paths:
      - tests/unit/
      - client/src/
    carryforward: true

  integration:
    paths:
      - tests/integration/
      - server/
    carryforward: true

  e2e:
    paths:
      - tests/e2e/
    carryforward: false

fix: Remove manual body scroll locking from ReactiveBottomSheet
  client/src/components/ui/ReactiveBottomSheet.tsx
Due: unittests

fix: Improve offline error handling for landing page
  client/src/pages/landing.tsx
Due: unittests

fix: Improve offline mode reliability for FAQs and landing page
  client/src/components/trip-guide/tabs/InfoTab.tsx
  client/src/pages/landing.tsx
Due: unittests

fix: Improve offline detection reliability in landing page
  client/src/pages/landing.tsx
Due: unittests

fix: Improve offline caching for FAQs and Info sections
  client/src/components/NavigationDrawer.tsx
  client/src/components/trip-guide/tabs/InfoTab.tsx
  client/src/contexts/OfflineStorageContext.tsx
Due: unittests

fix: Improve offline navigation in PWA mode
  client/src/components/TripPageNavigation.tsx
  client/src/hooks/useTripData.ts
  client/src/pages/landing.tsx
Due: unittests

fix: Keep API requests on current origin when offline
  client/src/lib/api-client.ts
  client/src/lib/fetch-wrapper.ts
Due: unittests

fix: Cache global alerts endpoint for offline mode
  client/src/contexts/OfflineStorageContext.tsx
Due: unittests

feat: Improve offline PWA experience
  client/src/App.tsx
  client/src/components/TripPageNavigation.tsx
Due: unittests

feat: Add pre-embarkation disclaimer to trip header
  client/src/components/trip-guide.tsx
Due: unittests

fix: Count all events in trip statistics including parties
  client/src/components/trip-guide/tabs/OverviewTab.tsx
Due: unittests

fix: admin trips table data fetching and hide bottom nav on admin pages
  client/src/App.tsx
  client/src/lib/api-client.ts
  client/src/pages/admin/trips-management.tsx
  server/routes/trips.ts
Due: unittests, integration

feat: add mobile admin bottom navigation and update users page styling
  client/src/App.tsx
  client/src/components/admin/AdminBottomNavigation.tsx
  client/src/components/admin/AdminLayout.tsx
  client/src/components/admin/EnhancedUsersTable.tsx
  client/src/pages/admin/components.tsx
  client/src/pages/admin/users.tsx
Due: unittests

Fix admin panel: Add authentication to delete operations, improve error handling, and add toast notifications for image uploads
  client/src/components/admin/AdminBottomNavigation.tsx
  client/src/components/admin/AdminBottomSheet.tsx
  client/src/components/admin/EnhancedArtistsTable.tsx
  client/src/components/admin/EnhancedLocationsTable.tsx
  client/src/components/admin/EnhancedLookupTablesTable.tsx
  client/src/components/admin/EnhancedResortsTable.tsx
  client/src/components/admin/EnhancedShipsTable.tsx
  client/src/components/admin/EnhancedThemesTable.tsx
  client/src/components/admin/EnhancedTripsTable.tsx
  client/src/components/admin/EnhancedUsersTable.tsx
  client/src/components/admin/ImageUploadPopup.tsx
  client/src/components/admin/LocationLGBTVenuesModal.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/components/admin/LocationSearchBar.tsx
  client/src/components/admin/NoImageFilterButton.tsx
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/components/admin/SingleSelectWithCreate.tsx
  client/src/components/ui/popover.tsx
  client/src/components/ui/sheet.tsx
  client/src/components/ui/sonner.tsx
  client/src/hooks/useImageUpload.ts
  client/src/pages/admin/artists.tsx
  client/src/pages/admin/components.tsx
  client/src/pages/admin/locations.tsx
  client/src/pages/admin/lookup-tables.tsx
  client/src/pages/admin/profile.tsx
  client/src/pages/admin/resorts.tsx
  client/src/pages/admin/ships.tsx
  client/src/pages/admin/themes.tsx
  client/src/pages/admin/trips-management.tsx
  client/src/pages/admin/users.tsx
  server/image-utils.ts
  server/routes/media.ts
Due: unittests, integration

Update dropdown components and admin modals - refactor to use StandardDropdown and PillDropdown consistently
  .mcp.json
  client/public/sw.js
  client/src/App.tsx
  client/src/components/admin/AdminBottomNavigation.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/components/admin/ShipSelector.tsx
  client/src/components/admin/TripWizard/EventFormModal.tsx
  client/src/components/admin/TripWizard/EventsTabPage.tsx
  client/src/components/admin/TripWizard/FAQFormModal.tsx
  client/src/components/admin/TripWizard/TripInfoFormModal.tsx
  client/src/components/admin/TripWizard/UpdateFormModal.tsx
  client/src/components/admin/TripWizard/modals/EditBasicInfoModal.tsx
  client/src/components/admin/TripWizard/modals/EditCruiseItineraryModal.tsx
  client/src/components/admin/TripWizard/modals/EditResortDetailsModal.tsx
  client/src/components/admin/TripWizard/modals/EditResortScheduleModal.tsx
  client/src/components/admin/TripWizard/modals/EditShipDetailsModal.tsx
  client/src/components/admin/TripWizard/modals/EditVenuesAmenitiesModal.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
  client/src/components/ui/command.tsx
  client/src/components/ui/dropdowns/PillDropdown.tsx
  client/src/components/ui/dropdowns/StandardDropdown.tsx
  client/src/pages/admin/dropdown-demo.tsx
  client/src/pages/public-dropdown-test.tsx
Due: unittests

chore: clean up deprecated files and documentation
  MOBILE_NAV_FIX_DIAGRAM.md
  MOBILE_NAV_TEST_PLAN.md
  SAFARI_IOS_TESTING_GUIDE.md
  capture-screenshots.mjs
  docs/Add LA to Mexico Cruise.md
  docs/Add Symphony Caribbean Cruise.md
  docs/Add Tahiti Cruise.md
  docs/Add Tropical Americas Cruise.md
  docs/Add Venice to Barcelona Cruise.md
  docs/mockups/faq-tab-mockups.html
  docs/mockups/info-tab-mockups.html
  landing-modal.png
  mobile-nav-autohide-fix.md
  scripts/fix-venice-barcelona-locations.ts
  scripts/import-athens-to-venice-2026.ts
  scripts/import-athens-venice-2026.ts
  scripts/import-la-mexico-cruise.ts
  scripts/import-symphony-caribbean.ts
  scripts/import-tahiti-cruise.ts
  scripts/import-tropical-americas.ts
  scripts/import-venice-to-barcelona-cruise-26.ts
  scripts/upload-halloween-talent-images.ts
  scripts/upload-kgay-image.ts
  scripts/upload-location-images.ts
  scripts/upload-map-image.js
  scripts/upload-remaining-talent-images.ts
  security_nov_12_2025.md
  trip-guide-footer.png
  verify-modal.js
  verify-trip-modal.js
Due: none

refactor: improve dropdown components and admin table implementations
  client/src/components/admin/AdminBottomSheet.tsx
  client/src/components/admin/EnhancedArtistsTable.tsx
  client/src/components/admin/EnhancedLocationsTable.tsx
  client/src/components/admin/EnhancedLookupTablesTable.tsx
  client/src/components/admin/EnhancedResortsTable.tsx
  client/src/components/admin/EnhancedShipsTable.tsx
  client/src/components/admin/EnhancedThemesTable.tsx
  client/src/components/admin/EnhancedTripInfoSectionsTable.tsx
  client/src/components/admin/EnhancedTripsTable.tsx
  client/src/components/admin/EnhancedUsersTable.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/admin/TripWizard/TalentTabPage.tsx
  client/src/components/admin/VenueManagementModal.tsx
  client/src/components/ui/dropdowns/StandardDropdown.tsx
  client/src/pages/admin/artists.tsx
  client/src/pages/admin/lookup-tables.tsx
  client/src/pages/admin/ships.tsx
  client/src/pages/admin/trips-management.tsx
Due: unittests

docs: add code refactoring plan based on code review
  docs/Refactor-Code.md
Due: none

refactor: implement Phase 1 of code refactoring plan
  client/src/components/ShareMenu.tsx
  client/src/components/admin/ImageUploadField.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/components/admin/ResponsiveAdminTable.tsx
  client/src/components/admin/UserManagement/EnhancedUserList.tsx
  client/src/components/admin/VenueManagementModal.tsx
  client/src/components/auth/EnhancedSignUpForm.tsx
  client/src/components/auth/PasswordResetForm.tsx
  client/src/components/auth/SocialAuthButtons.tsx
  client/src/components/trip-guide.tsx
  client/src/components/ui/BackToTopButton.tsx
  client/src/components/ui/dropdowns/PillDropdown.tsx
  client/src/contexts/TripWizardContext.tsx
  client/src/hooks/useShare.ts
  client/src/lib/logger.ts
  client/src/types/admin.ts
  client/src/types/wizard.ts
  docs/Refactor-Code.md
  server/utils/errorUtils.ts
Due: unittests, integration

docs: add plan document update rule to CLAUDE.md
  CLAUDE.md
Due: none

refactor: complete code refactoring plan - Phase 2-4
  CLAUDE-REFERENCE.md
  CLAUDE.md
  client/src/components/admin/TripWizard/ResortPreview.tsx
  client/src/components/admin/TripWizard/ShipDetailsPage.tsx
  client/src/components/admin/TripWizard/modals/EditCruiseItineraryModal.tsx
  client/src/components/admin/TripWizard/modals/EditShipDetailsModal.tsx
  client/src/components/admin/TripWizard/modals/EditVenuesAmenitiesModal.tsx
  client/src/components/admin/UserManagement/UserEditorModal.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/TripGuideHeader.tsx
  client/src/components/trip-guide/TripGuidePreviewBanner.tsx
  client/src/components/trip-guide/TripGuideTabBar.tsx
  client/src/components/trip-guide/hooks/useScheduledDaily.ts
  client/src/components/trip-guide/tabs/InfoTab.tsx
  client/src/components/trip-guide/utils/formatTripDates.ts
  client/src/components/ui/chart.tsx
  client/src/data/trip-data.ts
  client/src/hooks/useTripUpdates.ts
  client/src/hooks/useWindowSize.ts
  client/src/lib/timeFormat.ts
  client/src/types/trip-data.ts
  docs/Refactor-Code.md
  docs/security_remediation.md
  server/image-utils.ts
  server/middleware/security.ts
  server/routes/admin-users-routes.ts
  server/routes/invitation-routes.ts
  server/routes/media.ts
  server/routes/public.ts
  server/schemas/common.ts
Due: unittests, integration

refactor: consolidate duplicate code with shared components
  CLAUDE-REFERENCE.md
  CLAUDE.md
  client/src/components/StandardizedHero.tsx
  client/src/components/admin/AmenitySelector.tsx
  client/src/components/admin/CruiseLineSelector.tsx
  client/src/components/admin/LocationSelector.tsx
  client/src/components/admin/ResortCompanySelector.tsx
  client/src/components/admin/ResortSelector.tsx
  client/src/components/smoothui/ui/JobListingComponent.tsx
  client/src/components/trip-guide/modals/TalentModal.tsx
  client/src/components/trip-guide/shared/EventCard.tsx
  client/src/components/trip-guide/shared/PartyCard.tsx
  client/src/components/trip-guide/shared/TalentCard.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
  client/src/components/trip-guide/tabs/OverviewTab.tsx
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
  client/src/components/ui/CardActionButton.tsx
  client/src/components/ui/OptimizedImage.tsx
  client/src/components/ui/SocialIcons.tsx
  client/src/config/admin-table-config.tsx
  client/src/contexts/OfflineStorageContext.tsx
  client/src/lib/adminStyles.ts
  client/src/lib/image-utils.ts
  client/src/lib/timeFormat.ts
  docs/component-review.md
  docs/image-optimization-plan.md
Due: unittests

docs: add shared UI components documentation to CLAUDE.md
  CLAUDE.md
Due: none

fix: add CSP hashes for inline scripts in production
  server/middleware/security.ts
Due: integration

refactor: simplify FAQ/Info sections to always be trip-specific
  client/src/components/admin/TripWizard/FAQFormModal.tsx
  client/src/components/admin/TripWizard/FAQTabPage.tsx
  client/src/components/admin/TripWizard/TripInfoFormModal.tsx
  client/src/components/admin/TripWizard/TripInfoTabPage.tsx
  client/src/components/admin/TripWizard/UpdatesTabPage.tsx
Due: unittests

feat: add navigation context providers for admin bottom sheet tabs
  client/src/components/admin/AdminBottomSheet.tsx
  client/src/components/admin/EditTripModal/EditTripModal.tsx
  client/src/components/admin/ImageUploadField.tsx
  client/src/components/admin/ItineraryTab.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/admin/TripWizard/EventFormModal.tsx
  client/src/components/admin/TripWizard/EventsTabPage.tsx
  client/src/components/admin/TripWizard/TalentTabPage.tsx
  client/src/contexts/EventsNavigationContext.tsx
  client/src/contexts/FAQNavigationContext.tsx
  client/src/contexts/ItineraryNavigationContext.tsx
  client/src/contexts/TalentNavigationContext.tsx
  client/src/contexts/TripInfoNavigationContext.tsx
  client/src/contexts/UpdatesNavigationContext.tsx
  client/src/pages/admin/locations.tsx
Due: unittests

feat: enhance admin wizard with modal-based venue/talent/location creation
  client/src/components/admin/LocationFormModal.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/admin/TripWizard/EventFormModal.tsx
  client/src/components/admin/TripWizard/ShipDetailsPage.tsx
  client/src/components/admin/TripWizard/TalentTabPage.tsx
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/components/admin/VenueManagementModal.tsx
  client/src/components/ui/dropdowns/StandardDropdown.tsx
  client/src/lib/api-client.ts
  server/auth.ts
Due: unittests, integration

refactor: optimize desktop and tablet layouts
  client/src/components/FlyUpSheet.tsx
  client/src/components/StandardizedContentLayout.tsx
  client/src/components/admin/AdminBottomNavigation.tsx
  client/src/components/admin/AdminBottomSheet.tsx
  client/src/components/admin/AdminLayout.tsx
  client/src/components/admin/EnhancedLocationsTable.tsx
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/components/admin/TripWizard/BasicInfoPage.tsx
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/TripGuideTabBar.tsx
  client/src/components/trip-guide/tabs/InfoTab.tsx
  client/src/components/trip-guide/tabs/OverviewTab.tsx
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
  client/src/components/trip-guide/tabs/TalentTabNew.tsx
  client/src/hooks/use-mobile-responsive.ts
  client/src/index.css
  client/src/pages/admin/artists.tsx
  client/src/pages/admin/locations.tsx
  client/src/pages/admin/lookup-tables.tsx
  client/src/pages/admin/themes.tsx
  client/src/pages/admin/users.tsx
Due: unittests

refactor: replace AboutKGayModal with responsive AboutKGaySheet
  client/src/components/AboutKGayModal.tsx
  client/src/components/AboutKGaySheet.tsx
  client/src/components/FlyUpSheet.tsx
  client/src/components/NavigationDrawer.tsx
  client/src/components/navigation-banner.tsx
  client/src/pages/settings.tsx
Due: unittests

feat: add unread badge to desktop Alerts navigation button
  client/src/components/navigation-banner.tsx
Due: unittests

feat: add Alerts button with badge to trip guide desktop navigation
  client/src/components/TripPageNavigation.tsx
Due: unittests

refactor: improve location modals with responsive side panels
  client/src/components/admin/ItineraryTab.tsx
  client/src/components/admin/LocationAttractionsModal.tsx
  client/src/components/admin/LocationFormModal.tsx
  client/src/components/admin/LocationLGBTVenuesModal.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
Due: unittests

fix: remove invalid onManage props from preview components
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
Due: unittests

fix: improve EnhancedTripsTable mobile responsiveness
  client/src/components/admin/EnhancedTripsTable.tsx
Due: unittests

refactor: improve admin components and trip wizard
  client/src/components/admin/AdminBottomSheet.tsx
  client/src/components/admin/AmenitySelector.tsx
  client/src/components/admin/CruiseLineSelector.tsx
  client/src/components/admin/EditTripModal/EditTripModal.tsx
  client/src/components/admin/TripWizard/CompletionPage.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/components/admin/VenueManagementModal.tsx
  client/src/components/ui/dropdowns/StandardDropdown.tsx
  docs/desktop-and-tablet-refactor.md
  scripts/set-trip-to-draft.js
  scripts/set-trip-to-draft.sql
Due: unittests
