Repository bryhearnchi-bot/kgaytripguides: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

feat: finalize profile dropdown redesign with compact header and avatar repositioning
  client/src/App.tsx
  client/src/components/ui/kokonut-profile-dropdown.tsx
  client/src/pages/user/profile.tsx
Due: unittests

feat: fix profile dropdown blue border and clean up server logging
  .playwright-mcp/profile-dropdown-blue-border.png
  .playwright-mcp/profile-dropdown-fixed.png
  .playwright-mcp/profile-dropdown-keyboard-focus.png
  CLAUDE.md
  client/src/components/UniversalHero.tsx
  client/src/components/admin/AdminLayout.tsx
  client/src/components/navigation-banner.tsx
  client/src/components/ui/kokonut-profile-dropdown.tsx
  client/src/components/ui/profile-dropdown.tsx
  client/src/index.css
  components/kokonutui/profile-dropdown.tsx
  server/logging/logger.ts
  server/logging/middleware.ts
Due: unittests, integration

feat: implement Design 1 modal styling with responsive grid layouts
  client/src/components/admin/AdminFormModal.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/pages/admin/artists.tsx
  client/src/pages/admin/ships.tsx
  client/src/pages/admin/themes.tsx
  mockups/modal-design-1.html
  mockups/modal-design-2.html
  mockups/modal-design-3.html
Due: unittests

feat: complete admin interface improvements and optimizations
  client/src/components/admin/AdminLayout.tsx
  client/src/hooks/use-admin-prefetch.ts
  client/src/hooks/use-admin-users-cache.ts
  client/src/pages/admin/trip-info-sections.tsx
  client/src/pages/admin/trips-management.tsx
  client/src/pages/admin/users.tsx
  docs/authorization_fix.md
  docs/future_features.md
  shared/api-types.ts
  shared/schema.ts
Due: unittests

fix: remove Playwright screenshots from git tracking and update .gitignore
  .gitignore
  .playwright-mcp/current-state.png
  .playwright-mcp/page-2025-09-24T02-54-40-579Z.png
  .playwright-mcp/profile-dropdown-blue-border.png
  .playwright-mcp/profile-dropdown-fixed.png
  .playwright-mcp/profile-dropdown-keyboard-focus.png
Due: none

remove: delete GitHub Actions CI workflow
  .github/workflows/ci.yml
Due: none

fix: migrate locations endpoints to Supabase Admin and add Drizzle removal plan
  docs/REMOVE_DRIZZLE_MIGRATION_PLAN.md
  server/routes/locations.ts
Due: integration

fix: resolve authentication and profile display issues
  client/src/components/admin/InvitationManagement.tsx
  client/src/components/trip-guide-redesigned.tsx
  client/src/components/trip-guide.tsx
  client/src/components/ui/kokonut-profile-dropdown.tsx
  server/routes/admin-users-routes.ts
Due: unittests, integration

feat: complete Drizzle to Supabase migration and project updates
  CLAUDE.md
  client/src/hooks/useSupabaseAuth.ts
  client/src/hooks/useTripData.ts
  client/src/lib/utils.ts
  docs/REMOVE_DRIZZLE_MIGRATION_PLAN.md
  drizzle.config.ts
  package-lock.json
  package.json
  server/OptimizedStorage.ts
  server/add-test-trips.ts
  server/auth.ts
  server/monitoring/health.ts
  server/production-seed.ts
  server/routes/admin/admin-users-routes-optimized.ts
  server/routes/invitation-routes.ts
  server/routes/locations.ts
  server/routes/media.ts
  server/routes/party-themes.ts
  server/routes/performance.ts
  server/routes/public.ts
  server/routes/talent-categories.ts
  server/routes/trip-info-sections.ts
  server/routes/trips-optimized.ts
  server/routes/trips.ts
  server/seed-test-data.js
  server/seed.ts
  server/ships-storage.ts
  server/storage-drizzle-backup.ts
  server/storage.ts
  server/storage/LocationStorage-Supabase.ts
  server/storage/LocationStorage.ts
  server/storage/OptimizedQueries.ts
  server/storage/OptimizedStorage-Supabase.ts
  server/storage/OptimizedStorage.ts
  server/storage/PartyThemeStorage.ts
  server/storage/TripInfoSectionStorage.ts
  shared/supabase-types.ts
Due: unittests, integration

cleanup: remove all remaining Drizzle references and legacy files
  AGENTS.md
  WARP.md
  server/auth-routes.ts
  server/monitoring/health.ts
  server/storage-supabase-adapter.ts
  server/storage.ts
  shared/schema.ts
Due: integration

Complete Drizzle removal and documentation cleanup
  .gitignore
  CLAUDE.md
  UI-REDESIGN.md
  docs/ADMIN_TABLE_FINAL_TEMPLATE.md
  docs/AUTHENTICATION_FIX_SUMMARY.md
  docs/DATABASE_CRUD_AUTH_FIXES.md
  docs/DATABASE_PERFORMANCE_OPTIMIZATION.md
  docs/FORM_SETUP_AND_DATA_FLOW.md
  docs/N1_QUERY_FIX_SUMMARY.md
  docs/REMOVE_DRIZZLE_MIGRATION_PLAN.md
  docs/RLS_DOCUMENTATION.md
  docs/SECURITY_AUDIT_REPORT.md
  docs/Ships_and_Resorts_Planning.md
  docs/Table_Revisions.md
  docs/admin-navigation-optimization.md
  docs/admin-style-guide.md
  docs/admin-table-standards.md
  docs/admin_header_update.md
  docs/admin_redesign.md
  docs/authorization_fix.md
  docs/development-setup.md
  docs/migration/MIGRATION_CONTEXT.md
  docs/migration/NON_MIGRATION_ERRORS.md
  docs/migration/README.md
  docs/migration/SCHEMA_MIGRATION_TRACKER.md
  docs/migration/WORKING_ENDPOINTS.md
  docs/page_structure.md
  server/routes.ts
  server/storage-drizzle-backup.ts
Due: integration

fix: restore missing useQueryClient import in users.tsx
  client/src/pages/admin/users.tsx
Due: unittests

feat: enhance user management and cleanup project structure
  CLAUDE.md
  claude_backup.md
  client/src/hooks/useImageUpload.ts
  client/src/pages/admin/users.tsx
  package.json
  scripts/check-buckets.js
  scripts/create-all-folders.js
  scripts/fix-talent-sequence-direct.js
  scripts/fix-talent-sequence.js
  scripts/fix-talent-sequence.sql
  scripts/optimize-admin-pages.js
  scripts/setup-image-folders.js
  scripts/test-batch-operations.ts
  scripts/test-upload.js
  server/routes/admin-users-routes.ts
Due: unittests, integration

feat: complete trip info sections redesign with many-to-many architecture
  client/src/components/admin/InfoAndUpdatesTab.tsx
  client/src/hooks/useTripData.ts
  client/src/pages/admin/trip-info-sections.tsx
  docs/trip-info-sections-redesign-plan.md
  scripts/run-migration.mjs
  server/routes/trip-info-sections.ts
  server/storage.ts
  shared/supabase-types.ts
  supabase/migrations/20250928000000_trip_info_sections_redesign_phase1.sql
Due: unittests, integration

feat: comprehensive security audit and fix plan with coding standards
  CLAUDE.md
  docs/code-review-fix-plan.md
Due: none

feat: complete phases 1-4 of comprehensive remediation plan
  .env.example
  SECURITY_AUDIT_REPORT.md
  backups/kgay_backup_20250929_163244.sql
  backups/kgay_backup_20250929_165305.sql
  backups/kgay_backup_20250929_165315.sql
  backups/kgay_backup_20250929_165350.sql
  client/src/App.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/admin/EventManagement.tsx
  client/src/components/admin/PartyManagement.tsx
  client/src/components/trip-guide.tsx
  client/src/lib/queryClient.ts
  client/src/main.tsx
  client/src/pages/admin/users.tsx
  client/src/pages/image-test.tsx
  client/src/pages/landing.tsx
  docs/COMPREHENSIVE_REMEDIATION_PLAN_V2.md
  docs/PHASE_1_CHECKPOINT_REPORT.md
  docs/PHASE_3_CHECKPOINT_REPORT.md
  docs/PHASE_4_CHECKPOINT_REPORT.md
  package-lock.json
  package.json
  scripts/backup-database.sh
  scripts/backup-to-supabase.sql
  scripts/dev-secure.js
  scripts/replace-console-logs.sh
  scripts/restore-to-backup.sh
  server/auth.ts
  server/index.ts
  server/middleware/csrf.ts
  server/routes/admin-lookup-tables-routes.ts
  server/routes/admin-sequences.ts
  server/storage/LocationStorage-Supabase.ts
  server/utils/sequence-fix.ts
  supabase/migrations/20250929_phase3_database_optimization.sql
  vite.config.ts
Due: unittests, integration

fix: resolve 47 TypeScript errors - client-side fixes batch 1
  client/src/components/ErrorBoundary.tsx
  client/src/components/admin/EnhancedTripsTable.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/components/admin/LocationSearchBar.tsx
  client/src/components/admin/MultiSelectWithCreate.tsx
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/Search/AdvancedSearch.tsx
  client/src/components/admin/SettingsTab.tsx
  client/src/components/admin/StandardAdminTable.tsx
  client/src/components/auth/AuthModal.tsx
  client/src/components/auth/EnhancedSignUpForm.tsx
  client/src/components/mobile/BottomSheetModal.tsx
  client/src/components/mobile/MobileErrorBoundary.tsx
  client/src/components/mobile/MobileKeyboardOptimizer.tsx
  client/src/components/mobile/PullToRefresh.tsx
  client/src/components/mobile/SwipeableActions.tsx
  client/src/components/mobile/TouchOptimizedForm.tsx
  client/src/components/trip-guide.tsx
  client/src/components/ui/input-otp.tsx
  client/src/components/ui/kokonut-profile-dropdown.tsx
  client/src/components/user/UserProfile/ProfileView.tsx
  client/src/hooks/use-admin-users-cache.ts
  client/src/hooks/useAnalytics.ts
  client/src/pages/admin/trips.tsx
  server/examples/error-handling-example.ts
  server/middleware/validation.ts
  server/routes/admin-users-routes.ts
  server/routes/admin/admin-users-routes-optimized.ts
  server/routes/invitation-routes.ts
  server/routes/locations.ts
  server/routes/media.ts
  server/routes/party-themes.ts
  server/routes/public.ts
  server/routes/talent-categories.ts
  server/routes/trip-info-sections.ts
  server/routes/trips.ts
Due: unittests, integration

fix(types): resolve 42 TS errors in server/routes/locations.ts
  CLAUDE.md
  docs/REFERENCE.md
  server/routes/locations.ts
Due: integration

fix(types): resolve 8 TS errors in server/routes/admin-users-routes.ts
  server/routes/admin-users-routes.ts
Due: integration

fix(types): Phase 5 - Fix route and middleware return statements
  client/src/components/trip-guide.tsx
  client/src/pages/admin/profile.tsx
  client/src/pages/admin/trips.tsx
  server/middleware/validation.ts
  server/middleware/versioning.ts
  server/routes/csrf-route.ts
  server/routes/invitation-routes.ts
  server/routes/party-themes.ts
  server/routes/public.ts
  server/routes/public.ts.bak
  server/routes/talent-categories.ts
  server/routes/trip-info-sections.ts
  server/schemas/common.ts
Due: unittests, integration

fix(types): Phase 5 - Fix parameter handling and return statements
  server/routes/party-themes.ts
  server/routes/public.ts
  server/routes/trip-info-sections.ts
Due: integration

fix: resolve 64 TypeScript errors in Phase 5
  client/src/lib/__tests__/authUtils.test.ts
  client/src/lib/timeFormat.ts
  client/src/test/setup.ts
  client/src/utils/csrf.ts
  client/src/utils/haptics.ts
  server/examples/error-handling-example.ts
  server/openapi/index.ts
  server/openapi/spec.ts
  server/routes.ts
  server/routes/admin/admin-users-routes-optimized.ts
  server/routes/invitation-routes.ts
  server/routes/party-themes.ts
  server/routes/trip-info-sections.ts
  server/routes/trips-optimized.ts
  server/routes/trips.ts
  server/seed.ts
  server/utils/invitation-tokens.example.ts
Due: unittests, integration

fix: resolve additional 3 TypeScript errors
  server/auth.ts
  server/storage.ts
Due: integration

fix(types): Phase 5 COMPLETE - resolve all TypeScript errors (487 → 0)
  client/src/components/admin/ItineraryTab.tsx
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/components/user/UserProfile/ProfileView.tsx
  client/src/hooks/__tests__/useSupabaseAuth.test.ts
  client/src/hooks/useAnalytics.ts
  client/src/hooks/useImageUpload.ts
  client/src/hooks/useSupabaseAuth.ts
  client/src/hooks/useTripData.ts
  client/src/lib/queryClient.ts
  client/src/pages/admin/artists.tsx
  client/src/pages/admin/resorts.tsx
  client/src/pages/admin/ships.tsx
  client/src/pages/admin/trip-wizard.tsx
  client/src/pages/auth/AccountSetup.tsx
  server/cache/CacheManager.ts
  server/image-utils.ts
  server/index.ts
  server/logging/logger.ts
  server/logging/middleware.ts
  server/middleware/errorHandler.ts
  server/middleware/rate-limiting.ts
  server/middleware/security.ts
  server/monitoring/health.ts
  server/monitoring/metrics.ts
  server/production-seed.ts
  server/routes/admin-lookup-tables-routes.ts
  server/routes/admin-sequences.ts
  server/routes/admin-users-routes.ts
  server/routes/invitation-routes.ts
  server/routes/performance.ts
  server/routes/public.ts
  server/routes/talent-categories.ts
  server/utils/sequence-fix.ts
  shared/supabase-types.ts
Due: unittests, integration

docs: add Phase 5 TypeScript Safety completion report
  docs/PHASE_5_COMPLETION_REPORT.md
Due: none

feat: Phase 8 COMPLETE - Code Quality Tools
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  client/src/components/admin/Search/AdvancedSearch.tsx
  client/src/components/trip-guide/utils/calendarHelpers.ts
  client/src/hooks/useTripData.ts
  client/src/lib/location-service.ts
  client/src/pages/admin/trip-form.tsx
  client/src/pages/admin/trip-info-sections.tsx
  docs/COMPREHENSIVE_REMEDIATION_PLAN_V2.md
  docs/PHASE_8_CHECKPOINT_REPORT.md
  eslint.config.js
  package-lock.json
  package.json
  scripts/security-check.sh
  server/lib/cdn.ts
  server/logging/logger.ts
  server/production-seed.ts
  server/routes/csrf-route.ts
  server/routes/public.ts
  server/routes/trips.ts
  server/seed.ts
  server/utils/__tests__/invitation-tokens.test.ts
Due: unittests, integration

docs: add Railway deployment verification and troubleshooting
  docs/RAILWAY_DEPLOYMENT.md
  scripts/generate-railway-secrets.sh
  scripts/verify-railway-deployment.sh
Due: none

fix: add Railway diagnostics and improve static file serving
  nixpacks.toml
  railway.json
  server/index.ts
Due: integration

fix: make health checks more production-friendly
  server/monitoring/health.ts
Due: integration

perf: optimize logger for Railway Pro and add memory profiling
  GET_SUPABASE_KEYS.md
  server/index.ts
  server/logging/logger.ts
Due: integration

fix: remove duplicate buildCommand from railway.json
  railway.json
Due: none

fix: dedupe React in Vite bundle to prevent useState error
  vite.config.ts
Due: none

fix: include use-sync-external-store in vendor-react chunk to prevent React duplication
  vite.config.ts
Due: none

Path conditions:
  unittests: any of: tests/unit/, client/src/
  integration: any of: tests/integration/, server/
  e2e: any of: tests/e2e/
