Repository bryhearnchi-bot/kgaytripguides: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e

feat: add accordion UI for Events and Talent tabs with party theme image fallback
  client/src/components/admin/TripWizard/EventsTabPage.tsx
  client/src/components/admin/TripWizard/TalentTabPage.tsx
  server/routes/admin/events.ts
Due: unittests, integration

fix: resolve cruise line display issues in TripWizard and EditTripModal
  client/src/App.tsx
  client/src/components/admin/AdminLayout.tsx
  client/src/components/admin/EditTripModal/EditTripModal.tsx
  client/src/components/admin/EnhancedArtistsTable.tsx
  client/src/components/admin/EnhancedLocationsTable.tsx
  client/src/components/admin/EnhancedResortsTable.tsx
  client/src/components/admin/EnhancedSettingsTable.tsx
  client/src/components/admin/EnhancedShipsTable.tsx
  client/src/components/admin/EnhancedThemesTable.tsx
  client/src/components/admin/EnhancedTripInfoSectionsTable.tsx
  client/src/components/admin/EnhancedUsersTable.tsx
  client/src/components/admin/ResortFormModal.tsx
  client/src/components/admin/ShipFormModal.tsx
  client/src/components/admin/TripWizard/EventsTabPage.tsx
  client/src/components/admin/TripWizard/FAQFormModal.tsx
  client/src/components/admin/TripWizard/FAQTabPage.tsx
  client/src/components/admin/TripWizard/ResortDetailsPage.tsx
  client/src/components/admin/TripWizard/ShipDetailsPage.tsx
  client/src/components/admin/TripWizard/ShipPreview.tsx
  client/src/components/admin/TripWizard/TalentTabPage.tsx
  client/src/components/admin/TripWizard/TripInfoFormModal.tsx
  client/src/components/admin/TripWizard/TripInfoTabPage.tsx
  client/src/components/admin/TripWizard/TripWizard.tsx
  client/src/contexts/TripWizardContext.tsx
  client/src/pages/admin/faqs.tsx
  client/src/pages/admin/locations.tsx
  client/src/pages/admin/ships.tsx
  client/src/pages/admin/users.tsx
  client/src/types/trip-info.ts
  docs/TripInfoAndFAQ.md
  server/auth.ts
  server/middleware/validation.ts
  server/routes.ts
  server/routes/admin-users-routes.ts
  server/routes/faqs.ts
  server/routes/locations.ts
  server/routes/trip-info-sections.ts
  server/routes/trips.ts
  server/schemas/trip-wizard-schemas.ts
Due: unittests, integration

feat: implement new landing page hero with rotating images and featured trip carousel
  client/src/App.tsx
  client/src/components/CreativeHero.tsx
  client/src/components/FeaturedTripCarousel.tsx
  client/src/components/StandardizedContentLayout.tsx
  client/src/components/UniversalHero.tsx
  client/src/components/navigation-banner.tsx
  client/src/pages/landing-mockups.tsx
  client/src/pages/landing.tsx
  mockups/landing-redesign-option-1-ocean-wave.html
  mockups/landing-redesign-option-2-spotlight-carousel.html
  mockups/landing-redesign-option-3-dashboard-control.html
Due: unittests

feat: redesign landing page hero and featured sections
  client/src/components/CreativeHero.tsx
  client/src/components/FeaturedTripCarousel.tsx
  client/src/index.css
  client/src/pages/landing.tsx
Due: unittests

feat: make tab bar responsive for mobile devices
  client/src/pages/landing.tsx
Due: unittests

feat: enhance itinerary display with larger images and day numbering
  assets/svg/logo.tsx
  client/src/components/UniversalHero.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/header.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/shadcn-studio/combobox/combobox-04.tsx
  client/src/components/shadcn-studio/logo.tsx
  client/src/components/smoothui/ui/JobListingComponent.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/ItineraryCard.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
  client/src/components/ui/navigation-menu.tsx
  client/src/hooks/useTripData.ts
  client/src/pages/landing.tsx
  components.json
  components/smoothui/ui/JobListingComponent.tsx
  package-lock.json
  package.json
  scripts/add-location-highlights.js
  scripts/get-greek-cruise-locations.js
  scripts/get-table-schema.js
  scripts/run-location-migration.js
  scripts/update-location-data.js
  server/routes/trips.ts
  server/storage.ts
  supabase/migrations/20251011000000_add_location_highlights.sql
Due: unittests, integration

fix: add missing locationName field to itinerary API response
  server/storage.ts
Due: integration

fix: prioritize locationName field in itinerary transformation
  client/src/hooks/useTripData.ts
Due: unittests

feat: redesign itinerary time display and fix admin location names
  client/src/components/admin/ItineraryTab.tsx
  client/src/components/smoothui/ui/JobListingComponent.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
Due: unittests

fix: transform itinerary data to camelCase in getItineraryByTrip
  server/storage.ts
Due: integration

fix: comprehensive modal interaction fixes for three-layer system
  SELECT day, location_name, arrival_time, departure_time, all_aboard_time FROM itinerary WHERE trip_id = (SELECT id FROM trips WHERE slug = 'greek-isles-2025') AND location_name LIKE '%Istanbul%' ORDER BY day;
  client/src/components/FeaturedTripCarousel.tsx
  client/src/components/admin/AdminFormModal.tsx
  client/src/components/admin/EditTripModal/EditTripModal.tsx
  client/src/components/admin/EnhancedLocationsTable.tsx
  client/src/components/admin/ItineraryTab.tsx
  client/src/components/admin/LocationAttractionsModal.tsx
  client/src/components/admin/LocationAttractionsPreview.tsx
  client/src/components/admin/LocationLGBTVenuesModal.tsx
  client/src/components/admin/LocationLGBTVenuesPreview.tsx
  client/src/components/admin/LocationManagement.tsx
  client/src/components/admin/LocationSelector.tsx
  client/src/components/admin/TripWizard/CruiseItineraryPage.tsx
  client/src/components/smoothui/ui/JobListingComponent.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/InfoTab.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
  client/src/components/trip-guide/tabs/TalentTab.tsx
  client/src/contexts/LocationsContext.tsx
  client/src/hooks/useTripData.ts
  client/src/pages/admin/locations.tsx
  docs/MODAL_ARCHITECTURE_FIX.md
  docs/MODAL_INTERACTION_FLOW.md
  server/routes/locations.ts
  server/routes/trips.ts
  server/storage.ts
  supabase/migrations/20251012000001_add_location_attractions_venues.sql
  supabase/migrations/20251012000002_add_overnight_location_types.sql
Due: unittests, integration

feat: enhance itinerary events and artist modals with responsive design
  client/src/components/smoothui/ui/JobListingComponent.tsx
Due: unittests

feat: relocate and resize artist social icons in talent detail modal
  client/src/components/smoothui/ui/JobListingComponent.tsx
Due: unittests

fix: add Safari iOS bottom bar CSS fixes to prevent white bar
  client/src/index.css
Due: unittests

fix: improve mobile responsiveness for itinerary modals and admin pages
  client/src/components/admin/EnhancedLocationsTable.tsx
  client/src/components/smoothui/ui/JobListingComponent.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
  client/src/pages/admin/locations.tsx
  client/src/pages/admin/ships.tsx
  docs/MOBILE_FIXES_SUMMARY.md
  docs/MOBILE_RESPONSIVENESS_AUDIT.md
Due: unittests

fix: enhance trip cards with proper resort/cruise data display
  client/src/components/FeaturedTripCarousel.tsx
  client/src/components/trip-guide.tsx
  server/routes/trips.ts
  server/storage.ts
Due: unittests, integration

feat: add clickable event cards with smart modal selection
  client/src/components/FeaturedTripCarousel.tsx
  client/src/components/smoothui/ui/JobListingComponent.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/modals/EventsModal.tsx
  client/src/components/trip-guide/modals/PartyThemeModal.tsx
  client/src/components/trip-guide/modals/TalentModal.tsx
  client/src/components/trip-guide/modals/index.ts
  client/src/components/trip-guide/shared/EventCard.tsx
  client/src/components/trip-guide/shared/index.ts
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
  client/src/pages/landing.tsx
Due: unittests

feat: implement parties tab with flip cards and ocean theme
  client/src/components/trip-guide/shared/PartyFlipCard.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
Due: unittests

feat: implement talent tab with expandable cards and trip filtering
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/tabs/TalentTabNew.tsx
  client/src/hooks/useTripData.ts
  components/kokonutui/card-flip.tsx
  components/smoothui/ui/ExpandableCards.tsx
  server/storage.ts
Due: unittests, integration

feat: redesign parties tab with compact animated cards
  client/src/components/trip-guide/shared/PartyCard.tsx
  client/src/components/trip-guide/shared/TalentCard.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  client/src/data/trip-data.ts
  client/src/hooks/useTripData.ts
Due: unittests

feat: redesign trip info sections with bento grid layout
  client/src/components/navigation-banner.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/info-sections/InfoSectionCard.tsx
  client/src/components/trip-guide/info-sections/InfoSectionsBentoGrid.tsx
  client/src/components/trip-guide/tabs/InfoTab.tsx
  client/src/components/trip-guide/tabs/TalentTabNew.tsx
  client/src/components/ui/kokonut-profile-dropdown.tsx
  components/kokonutui/anthropic-dark.tsx
  components/kokonutui/anthropic.tsx
  components/kokonutui/bento-grid.tsx
  components/kokonutui/deepseek.tsx
  components/kokonutui/gemini.tsx
  components/kokonutui/mistral.tsx
  components/kokonutui/open-ai-dark.tsx
  components/kokonutui/open-ai.tsx
  server/routes/trip-info-sections.ts
  supabase/migrations/20251013000000_fix_trip_info_sections_schema.sql
  supabase/migrations/20251013000001_create_comprehensive_sections_function.sql
Due: unittests, integration

feat: redesign trip info cards with frosted glass aesthetic and rich text editor
  client/src/components/trip-guide/info-sections/InfoSectionCard.tsx
  client/src/components/trip-guide/info-sections/InfoSectionsBentoGrid.tsx
  client/src/pages/admin/trip-info-sections.tsx
Due: unittests

feat: add FAQ tab and improve party cards UI
  client/src/components/FeaturedTripCarousel.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/shared/PartyCard.tsx
  client/src/components/trip-guide/tabs/FAQTab.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Due: unittests

feat: enhance talent cards with bio display and improve UI consistency
  client/src/components/FeaturedTripCarousel.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/shared/PartyCard.tsx
  client/src/components/trip-guide/shared/TalentCard.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  client/src/contexts/TimeFormatContext.tsx
  client/src/hooks/useImageUpload.ts
  client/src/hooks/useTripData.ts
  client/src/pages/admin/lookup-tables.tsx
  client/src/pages/landing.tsx
  server/image-utils.ts
  server/routes/admin-lookup-tables-routes.ts
  server/routes/trips.ts
  server/storage.ts
  supabase/migrations/20251013120000_add_charter_logo_url.sql
Due: unittests, integration

perf: optimize parties tab performance and increase DragStars logo size
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide/shared/PartyCard.tsx
  client/src/components/trip-guide/shared/PartyCardOptimized.tsx
  client/src/components/trip-guide/shared/PartyFlipCard.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  client/src/components/trip-guide/tabs/PartiesTabOptimized.tsx
Due: unittests

perf: major performance improvements for parties and events tabs
  client/src/components/trip-guide/shared/PartyCard.tsx
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
Due: unittests

feat: enhance UI redesign with improved components and metadata handling
  client/src/components/navigation-banner.tsx
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/shared/PartyCard.tsx
  client/src/components/trip-guide/tabs/PartiesTab.tsx
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
  client/src/hooks/useTripMetadata.ts
  client/src/pages/trip.tsx
  server/routes.ts
  server/routes/pwa.ts
Due: unittests, integration

fix: finalize PWA routes implementation
  playwright-report/index.html
  server/routes/pwa.ts
Due: integration

feat: add PWA support and optimize hero carousel
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  server/routes/pwa.ts
Due: unittests, integration

fix: increase mobile carousel speed for better performance on actual devices
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
Due: unittests

fix: PWA manifest and metadata endpoints now working
  server/routes/pwa.ts
Due: integration

perf: double mobile carousel speed to 10s for better UX
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
Due: unittests

revert: change mobile carousel back to rotating single image
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
Due: unittests

fix: make mobile image square instead of rectangle
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
Due: unittests

perf: reduce mobile image size for better layout
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
Due: unittests

fix: clean up event displays and itinerary modals
  client/src/components/shadcn-studio/blocks/hero-section-01/hero-section-01.tsx
  client/src/components/smoothui/ui/JobListingComponent.tsx
  client/src/components/trip-guide.tsx
  client/src/components/trip-guide/modals/EventsModal.tsx
  client/src/components/trip-guide/shared/EventCard.tsx
  client/src/components/trip-guide/tabs/ItineraryTab.tsx
  client/src/components/trip-guide/tabs/ScheduleTab.tsx
  client/src/hooks/useTripData.ts
  server/routes/trips.ts
Due: unittests, integration

chore: clean up unused scripts and organize documentation
  docs/DROPDOWN_DATEPICKER_FIX_REPORT.md
  docs/GET_SUPABASE_KEYS.md
  docs/ITINERARY_DEBUG_INVESTIGATION.md
  docs/SECURITY_AUDIT_REPORT.md
  docs/agent.md
  scripts/add-location-highlights.js
  scripts/apply-health-check-migration-pg.js
  scripts/apply-health-check-migration.js
  scripts/backup-database.sh
  scripts/backup-to-supabase.sql
  scripts/dev-secure.js
  scripts/generate-pwa-icons.js
  scripts/generate-railway-secrets.sh
  scripts/get-greek-cruise-locations.js
  scripts/get-table-schema.js
  scripts/migrate-venues.js
  scripts/promote-superadmin.mjs
  scripts/replace-console-logs.sh
  scripts/restore-to-backup.sh
  scripts/run-location-migration.js
  scripts/run-migration.mjs
  scripts/update-location-data.js
  scripts/verify-railway-deployment.sh
Due: none

Path conditions:
  unittests: any of: tests/unit/, client/src/
  integration: any of: tests/integration/, server/
  e2e: any of: tests/e2e/
